body{
background: rgb(255, 255, 255);
font: normal 15pt Arial;
transition-duration: 1s;

}
header{
 color: white;
 text-align: center;
}

section{
    background:  white; 
    border-radius: 10px; /* aredonda a borda */
    padding: 15px; /* aumenta o tamanhoda caixa */
    width: 500px; /* largura */
    margin: auto; /* centraliza a caixa */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);
    
}
div {
    text-align: center;
    padding: 5px;


}
footer{
    color: white;
    text-align: center;
    font: italic;
}   
#imagem{
width: 250px;
height: 250px;
border-radius: 50%;
object-fit: cover;
}